filterpy
lap
matplotlib
mss
numpy
Pillow
psutil
scipy
seaborn
ultralytics
opencv-contrib-python
filterpy
mss
seaborn
nvidia-ml-py

#uv pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu130